.main{
    font-family: 'Arial', sans-serif;
    &__menu {
        background: $mainBackground;

        &__container {
            margin: 0 auto;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 70px;
        }

        &__countries {

            grid-template-columns: repeat(6, 16%);
            @include elementStyle;

            &>* {
                @include elementChildren;
            }
        }

        &__tasks {
            grid-template-columns: repeat(3, 33%);
            @include elementStyle;

            &>* {
                @include elementChildren;
                }
        }

        &__mode {

            grid-template-columns: repeat(3, 33%);
            @include elementStyle;

            &>* {
                border: 1px solid #ddd;
                padding: 20px 40px;
                cursor: pointer;
                transition: background-color 0.2s ease;

                &:hover {
                    background-color: #eee;
                }
            }
        }

        &__btn {
            padding-top: 50px;
            margin-bottom: 100px;
            &-start {
                @include gameBtn;
            }

            &-info {
                display: none;
            }
        }
    }

    &__game {
        display: grid;
        display: none;

        background: $mainBackground;

        font-family: 'Arial', sans-serif;

        &__container {
            margin: 0 auto;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 70px;
        }



        &-flag {
            margin: 0 auto;


            img {
               max-width: 250px;
               max-height: 180px;

            }
        }

        &-countries {

            grid-template-columns: repeat(4, 25%);
            @include elementStyle;
            
            &>* {
                @include elementChildren;
            }

        }

        &-capitals {

            grid-template-columns: repeat(4, 25%);
            @include elementStyle;

            &>* {
                @include elementChildren;
            }

        }

        &-worldPart {
            grid-template-columns: repeat(5, 19%);
            @include elementStyle;

            &>* {
                @include elementChildren;
            }
        }

        &-btn {
            position: relative;
            padding-top: 70px;
            display: flex;
            
            &-next {
                margin-left: 25%;
                @include gameBtn;  
            }

            &-previous {
                margin-left: 5%;
                @include gameBtn;
            }

            &-menu {
                margin-left: 60%;
                @include gameBtn;
            }


            &-submit {
                margin-left: 75%;
                @include gameBtn;
            }
        }
    }
}






